#Projects {
    padding: 15vh 0;
}

#Projects h1 {
    color: white;
}

.proj-img {
    max-width: 100%;
    width: auto;
}

.card-body {
    text-align: center;
}

.card {
    position: relative;
    border: 0px;
    min-height: 375px;
}

.card-body {
    min-height: 200px;
}

.proj-data {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.hide-data {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rgb(42, 157, 143, 0.9);
    flex-direction: column;
}

.proj-data:hover .hide-data {
    visibility: visible;
}

.card-text {
    color: white;
    transition: transform 1000ms;
    transform: translateX(-100px);
}

.proj-data:hover .card-text {
    transform: translateX(0px);
}

.card-links {
    transition: transform 1000ms;
    transform: translateX(100px);
}

.proj-data:hover .card-links {
    transform: translateX(0px);
}

.hide-data .row {
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.hide-data .row a {
    width: 30%;
}

#Projects .row {
    justify-content: space-around;
}

#Projects .card {
    width: 45%;
    margin: 10vh 0;
}

.card {
    overflow: hidden;
}

.hide-data hr {
    height: 4px;
    background-color: white;
    opacity: 100;
}

#Projects .btn {
    background-color: #264653;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1200px) {
    #Projects .card {
        width: 100%;
        margin: 10vh 0;
    }
  }

.badge-tools {
    background-color: #001F54;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.badge-tools:hover {
    box-shadow: 0 0 11px rgba(33,33,33); 
}

.shadow:hover {
    box-shadow: 0 0 20px rgba(33,33,33); 
}
