#Projects {
    padding: 15vh 0;
}

.proj-img {
    max-width: 100%;
    width: auto;
}

.card-body {
    text-align: center;
}

.card {
    position: relative;
    border: 0px;
}

.card-body {
    min-height: 200px;
}

.proj-data {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.hide-data {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    background-color: rgb(42, 157, 143, 0.9);
    flex-direction: column;
}

.proj-data:hover .hide-data {
    visibility: visible;
}

.card-text {
    transition: transform 1000ms;
    transform: translateX(-80px);
}

.proj-data:hover .card-text {
    transform: translateX(0px);
}

.card-links {
    transition: transform 1000ms;
    transform: translateX(80px);
}

.proj-data:hover .card-links {
    transform: translateX(0px);
}

.hide-data .row {
    width: 90%;
    margin: auto;
    justify-content: space-between;
}

.hide-data .row a {
    width: 30%;
}

#Projects .row {
    justify-content: space-around;
}

#Projects .card {
    width: 45%;
    margin: 10vh 0;
}

.card {
    overflow: hidden;
}

@media (max-width:1200px) {
    #Projects .card {
        width: 100%;
        margin: 10vh 0;
    }
  }