#Contact {
    padding: 5vh 0;
}

.font-weight-bold {
    font-weight: bold;
}

.contact-link{
    text-decoration: none;
    color: white;
    text-align: center;
}

.next-to-button {
    margin-left: 10px;
}

.next-to-button a {
    color: #1c6dd0;
    text-decoration: none;
    font-weight: bold;
}

.next-to-button a:hover {
    color: blue 
}

.contactFormHidden {
    display: none;
}