/* START OF NAVBAR */
.navbar {
    padding:0;
    position: absolute;
    display: flex;
    flex-direction: row;
    width:110px;
    top: 100%;
    right:2%;
    background-color: black;
    color: white;
    justify-content: flex-end;
}

.active {
    background-color: gray;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
}

.nav-item {
    padding: 0;
    text-align: center;
}

.nav-item {
    padding: 10px;
}

.nav-toggle {
    margin: 10px;
    border-radius: 5px;
}

.navbar-nav a {
    scroll-behavior: smooth;
    text-decoration: none;
    color: white;
  }
  
.nav-item a:hover {
    box-shadow: 0 0 110px rgba(33,33,33,.2); 
    color: ligthgray;
}
  
@media (min-width:768px) {
    .nav-toggle {
        display:None;
    }
}

@media (max-width:767px) {
    .navbar {
        top:100%;
        right:0;
        z-index:1;
    }

    .toggle-inactive {
        display:none;
    }

    .toggle-active {
        width:100%;
    }

    .toggle-active + button{
        width:100%;
    }

    .navbar {
        padding:0;
        width:100%;
    }
}
/* END OF NAVBAR */