.chatbot-container {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
}

.chatbot-circle {
    height: 50px;
    width: 50px;
    background-color: #1a53d1ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot-wrapper {
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 50vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.chatbot-header {
    width: 100%;
    color: white;
    background-color: #1a53d1ff;
    font-size: 1.1rem;
    padding: 20px 20px 20px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%
}

.chatbot-body {
    height: 80%;
    padding: 10px;
    background-color: #f4f4f4ff;
    overflow-y: auto;
}

.chatbot-footer {
    position: relative;
    align-items: center;
    height: 10%;
}

.chatbot-messageBox {
    height: 100%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
    padding: 10px 30px 10px 10px;
    overflow-x: auto;
}

.chatbot-messageBox:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chatbot-messageIcon {
    position: absolute;
    right: 5%;
    bottom: 30%;
}

.clickable:hover {
    cursor: pointer;
}

.message-container {
    margin-left: 0;
    margin-right: 0;
}

.message-content-user {
    background-color: #4357e0ff;
    color: white;
    padding: 5px;
    width: auto;
    margin-left: auto;
    margin-right:10px;
}

.message-content-bot {
    background-color: white;
    margin-left: 15px;
}

.message-content {
    border-radius: 5px;
    font-size: 0.9rem;
    margin-top:10px
}

.message-chatbot-circle {
    height: 25px;
    width: 25px;
    background-color: #1a53d1ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px
}

.message-spinner {
    margin-left: 15px;
}